# Data Science Tools and Ecosystem

## In this notebook, Data Science tools and Ecosystem are summarised

**Objiectives**
- List data science libraries
- List data science languages
- Table of data science tools

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Sql

Some of the commonly used libraries used by Data Scientists are:
1. Scikit-learn
2. Pandas
3. Numpy

| Data Science Tools |
|--------------------|
| Rstudio |
| Tenseflow |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in python

In [1]:
# This is a simple arithmetic expresion to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335